<%= javascript_pack_tag 'application' %>


<% if user_signed_in? %>
<p>Hello <%= current_user.username %></p>
<%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
&emsp;
<%= link_to('Edit Registration ', edit_user_registration_path)%>
&emsp;
<%= link_to new_post_path do %>
  New post
<% end %>
&emsp;
<%= link_to posts_path do %>
  View Posts
<% end %>
&emsp;
<%= link_to('Profile', '/profile') %>
<% else %>
<%= link_to '/users/sign_in' do %>
  Sign In To Your Account
<% end %>
&emsp;
<% end %>
