<% if user_signed_in? %>
  <h2>Welcome <%= current_user.username %></h2>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">vBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
      </li>
    </ul> -->
  </div>
</nav>




<%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>
&emsp;
<%= link_to('Edit Registration ', edit_user_registration_path)%>
&emsp;
<%= link_to new_post_path do %>
  New post
<% end %>
&emsp;
<%= link_to posts_path do %>
  View Posts
<% end %>
&emsp;
<%= link_to('Profile', '/profile') %>
<% else %>
<%= link_to '/users/sign_in' do %>
  <p class = "sign_in_button"> Sign In To Your Account
<% end %>
&emsp;
<% end %>
</div>
