<div class="new_post">
<%= link_to new_post_path do %>
  New post
<% end %>
&emsp;
<% if user_signed_in? %>
<%= link_to('Edit registration ', edit_user_registration_path)%>
&emsp;
<%= link_to('Logout ', destroy_user_session_path, method: :delete)%>
&emsp;
<%= link_to('Profile', '/profile') %>
<% else %>
<%= link_to '/users/sign_in' do %>
  Sign in
<% end %>
&emsp;
<% end %> 
</div>
<% @posts.reverse_each do |post| %>
<div class="post">
  <div class="post_head">
  <img src="<%=User.find(post.user_id).image_url%>" width="8%">
  <h3><%=  <a href="/profile?uersname=#{User.find(post.user_id).username}"</a> User.find(post.user_id).username%> :
      <%= post.created_at %>

      <%= post.post_likes %>
  </h3>
  </div>
  <div class="post_body">
  <p><%= post.message %></p>
  </div>
  <div class="post_actions" name="Like<%=post.id%>">
  <%= button_to 'Like', "/posts?posts[id]=#{post.id}", method: :post %>
  </div>
</div>
<% end %>
