<p><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>

<p><%= link_to new_post_path do %>
  New post
<% end %></p>

<%= link_to '/' do %>
  Home
<% end %>

<div class = "posts_container">
<% @posts.order(:created_at).reverse_each do |post| %>
<div class="post">

  <div class="post_head">
    <img src="<%=getUser(post).image_url%>" width="8%">
    <h3><%= link_to("/profile?user=#{getUser(post).id}") do%>  <%=getUser(post).username%> <% end %>
        Posted on <%= post.created_at %>
    </h3>
  </div>

  <div class="post_body">
    <p><%= post.message %> </p>
  </div>

  <% if getUser(post).id == current_user.id %>
  <%= button_to "Edit", edit_post_path(post), id: 'edit'+post.id.to_s %>

  <%= button_to "Delete", post_path(post), id:'delete'+post.id.to_s,
                          method: :delete,
                          data: {confirm: "Are you sure?"} %>
  <% end %>
  <hr>
  <p><strong> Liked <%= post.post_likes %> times </strong></p>

  <div class="post_actions">
    <%= button_to 'Like', "/like?post[id]=#{post.id}", id: 'like'+post.id.to_s, method: :post %>
  </div>
  <hr>

  <h3> Comments </h3>

  <% post.comments.each do |comment| %>
    <div class="comments">
      <p><%=comment.username %> : <%=comment.body %></p>
    </div>
  <% end %>
  <hr>
  <h3>
    Add a comment:
  </h3>
  <%= form_for ([post, post.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body, {id: 'comment'+post.id.to_s, :class => 'form-control'}) %>
    </p>
    <p>
      <%= f.submit ({id: 'submitComment'+post.id.to_s, :class => 'form-control'})%>
    </p>
  <% end %>

</div>
<% end %>
</div>