<% if user_signed_in? %>
  <h2>Welcome <%= current_user.username %></h2>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">vBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<% end %>
</div>

<%= javascript_pack_tag 'application' %>

<p><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>
<%= react_component('NewPost')%>

<hr/>

<% @posts.order(:created_at).reverse_each do |post| %>
<%= react_component('PostPage', {post: post, currentUser: @user, postUser: getUser(post), postComments: post.comments}) %>

<!-- <div class="post">


  <div class="post_head">
    <img src="<%=getUser(post).image_url%>" width="8%">
    <h3><%= link_to("/profile?user=#{getUser(post).id}") do%>  <%=getUser(post).username%> <% end %>
        Posted at <%= post.created_at %>
    </h3>
  </div>

  <div class="post_body">
    <p><%= post.message %></p>
  </div>
  <p><strong> Liked <%= post.post_likes %> times </strong></p>

  <div class="post_actions">
    <%= button_to 'Like', "/like?post[id]=#{post.id}", id: 'like'+post.id.to_s, method: :post %>
  </div>

  <h3> Comments </h3>

  <% post.comments.each do |comment| %>
    <div class="comments">
      <p><%=comment.username %> : <%=comment.body %></p>
    </div>
  <% end %>

  <h3>
    Add a comment:
  </h3>
  <%= form_for ([post, post.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body, {id: 'comment'+post.id.to_s, :class => 'form-control'}) %>
    </p>
    <p>
      <%= f.submit ({id: 'submitComment'+post.id.to_s, :class => 'form-control'})%>
    </p>
  <% end %>

</div> -->
<% end %>
