<p><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>

<p><%= link_to new_post_path do %>
  New post
<% end %></p>

<%= link_to '/' do %>
  Home
<% end %>

<% @posts.reverse_each do |post| %>
<div class="post">

<%# @user = route_to '/user?params[:post]=post' => @user = query  %>
<div class="invisible">
<%= @user = getUser(post) %>
</div>
  <div class="post_head">
  <img src="<%=@user.image_url%>" width="8%">
  <h3><%= link_to("/profile?user=#{@user.id}") do%>  <%=@user.username%> <% end %> :
      <%= post.created_at %>
      <%= post.post_likes %>
  </h3>
  <div class="post_body">
    <p><%= post.message %></p>
  </div>

  <div class="post_actions">
    <%= button_to 'Like', posts_path, method: :post %>
  </div>

  </div>
<% end %>
