<p><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>
<%= link_to new_post_path do %>
  New post
<% end %>
<% @posts.reverse_each do |post| %>
<div class="post">

<%# @user = route_to '/user?params[:post]=post' => @user = query  %>
<div class="invisible">
<%= @user = User.find(post.user_id) %>
</div>
  <div class="post_head">
  <img src="<%=@user.image_url%>" width="8%">
  <h3><%=  @user.username%> :
      <%= post.created_at %>

      <%= post.post_likes %>
  </h3>
  </div>
  <div class="post_body">

  <p><%= post.message %></p>
  </div>
  <div class="post_actions">
  <%= button_to 'Like', posts_path, method: :post %>
  </div>
</div>
<% end %>
