<p><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>

<p><%= link_to new_post_path do %>
  New post
<% end %></p>

<%= link_to '/' do %>
  Home
<% end %>

<% @posts.reverse_each do |post| %>
<div class="post">

  <div class="post_head">
    <img src="<%=getUser(post).image_url%>" width="8%">
    <h3><%= link_to("/profile?user=#{getUser(post).id}") do%>  <%=getUser(post).username%> <% end %> :
        <%= post.created_at %>
        <%= post.post_likes %>
    </h3>
  </div>

  <div class="post_body">
    <p><%= post.message %></p>
  </div>

  <div class="post_actions">
    <%= button_to 'Like', "/like?post[id]=#{post.id}", method: :post %>
    <%= button_to 'Comment', posts_path, method: :post %>
  </div>

</div>
<% end %>
