<p><%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %></p>

<p><%= link_to new_post_path do %>
  New post
<% end %></p>

<%= link_to '/' do %>
  Home
<% end %>

<% @posts.reverse_each do |post| %>
<div class="post">

  <div class="post_head">
    <img src="<%=getUser(post).image_url%>" width="8%">
    <h3><%= link_to("/profile?user=#{getUser(post).id}") do%>  <%=getUser(post).username%> <% end %>
        Posted at <%= post.created_at %>
    </h3>
  </div>

  <div class="post_body">
    <p><%= post.message %></p>
  </div>
  <p><strong> Liked <%= post.post_likes %> times </strong></p>

  <div class="post_actions">
    <%= button_to 'Like', "/like?post[id]=#{post.id}", method: :post %>
  </div>

  <h3> Comments </h3>

  <% post.comments.each do |comment| %>
    <div class="well">
      <p><%=comment.username %> : <%=comment.body %></p>
    </div>
  <% end %>

  <h3>
    Add a comment:
  </h3>
  <%= form_for ([post, post.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>

</div>
<% end %>
