<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class = "navbar navbar-default"> <%= link_to "Sign Out", destroy_user_session_path, :method => 'delete' %>

<%= link_to new_post_path do %>
  New post
<% end %>

<%= link_to '/' do %>
  Home
<% end %>
</div>



<div class = "posts_container" >
<% @posts.order(:created_at).reverse_each do |post| %>
<div class="post">

  <div class="post_head">
    <img src="<%=getUser(post).image_url%>" width="8%">
    <h3><%= link_to("/profile?user=#{getUser(post).id}") do%>  <%=getUser(post).username%> <% end %>
        Posted on <%= post.created_at %>
    </h3>
  </div>

  <div class="post_body">
    <p><%= post.message %> </p>
  </div>

  <% if getUser(post).id == current_user.id %>
  <%= button_to "Edit", edit_post_path(post), id: 'edit'+post.id.to_s %>

  <%= button_to "Delete", post_path(post), id:'delete'+post.id.to_s,
                          method: :delete,
                          data: {confirm: "Are you sure?"} %>
  <% end %>
  <hr>
  <p><strong> Liked <%= post.post_likes %> times </strong></p>

  <div class="post_actions">
    <%= button_to 'Like', "/like?post[id]=#{post.id}", id: 'like'+post.id.to_s, method: :post %>
  </div>
  <hr>

  <h3> Comments </h3>

  <% post.comments.each do |comment| %>
    <div class="comments">
      <p><%=comment.username %> : <%=comment.body %></p>
    </div>
  <% end %>
  <hr>
  <h3>
    Add a comment:
  </h3>
  <%= form_for ([post, post.comments.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area(:body, {id: 'comment'+post.id.to_s, :class => 'form-control'}) %>
    </p>
    <p>
      <%= f.submit ({id: 'submitComment'+post.id.to_s, :class => 'form-control'})%>
    </p>
  <% end %>

</div>
<% end %>
