<% if user_signed_in? %>
  <h2>Welcome <%= current_user.username %></h2>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">vBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<% end %>
</div>

<%= link_to posts_path do %>
  Back to newsfeed
<% end %>
&emsp;

<div>
<h1><strong><p><%= @user.username %>'s Profile</p></strong></h1>
<p><img src="<%= @user.image_url %>" height: "200px"></p>
<h3> About: </h3>
<p><%= @user.bio_desc %></p>
</div>
<p>
<div>

<h3><%= @user.username %>'s Posts:</h3>

<% @all_posts.each do |user_post| %>

<p> <i><%= user_post.message %></i> at <%= user_post.created_at.strftime("%B %d %Y @ %H:%M") %> </p>

<% end %>

</div>
</p>
